/* LOGIN */
.login-container {
    float: left;
    width: 100%;
    min-height: 100%;
    background-color: #FFF;
}

.login-container .login-box {
    width: 400px;
    margin: 0px auto;
    padding-top: 100px;
}

.login-container .login-box .login-logo {
    background: url("../img/logo.jpg") top center no-repeat;
    width: 100%;
    height: 120px;
    float: left;
    margin-bottom: 10px;
}

.login-container .login-box .login-body {
    width: 100%;
    float: left;
    background-color: rgba(213, 213, 213, 0.72);
    padding: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.login-container .login-box .login-body .login-title {
    color: #FFF;
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 20px;
}

.login-container .login-box .login-body .form-control {
    border: 0px;
    background-color: rgba(182, 182, 182, 0.59);
    padding: 10px 15px;
    color: #000;
    line-height: 20px;
    height: auto;
}

.login-container .login-box .login-body .btn-link {
    color: #FFF;
    border: 0px;
}

.login-container .login-box .login-body .login-or {
    width: 40px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
    margin: 25px auto;
    text-align: center;
    line-height: 25px;
    color: #FFF;
}

.login-container .login-box .login-body .login-or:before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    top: -10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, 0.2);
}

.login-container .login-box .login-body .login-or:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    bottom: -10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 0.2);
}

.login-container .login-box .login-body .login-subtitle {
    line-height: 20px;
    padding: 5px 0px;
    font-size: 12px;
    color: #FFF;
}

.login-container .login-box .login-body .login-subtitle a {
    color: #3fbae4;
}

.login-container .login-box .login-footer {
    width: 100%;
    float: left;
    padding: 10px;
    color: #FFF;
}

.login-container .login-box .login-footer a {
    color: #FFF;
}

.login-container.lightmode {
    background: url("../img/backgrounds/wall_1.jpg") left top no-repeat;
}

.login-container.lightmode .login-box .login-body {
    background: rgba(255, 255, 255, 0.2);
}

.login-container.lightmode .login-box .login-body .form-control {
    background: rgba(255, 255, 255, 0.4);
    color: #333;
}

.login-container.lightmode .login-box .login-subtitle a {
    color: #33414e;
}
/* END LOGIN */
.set-radius-zero {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

header {
    background-color: #fff;
    color: #fff;
    padding: 10px;
    text-align: right;
}   

.navbar-login {
    width:auto !important;
    float:right;
    padding:10px;
}

.navbar-logo {
    width: 220px;
    padding: 10px;
    float:left;
    background-color: #fff;
    margin-right: 100px;
}

.area-toggle {
    float:right;
    padding:30px;
}

.container-login {
    display:inline-block;
    width:200px;
    height:100px;
    float:left;
    padding-top:30px;
    padding-left:10px;
}

.container-login-button {
    display:inline-block;
    width:100px;
    height:100px;
    float:left;
    padding-top:30px;
    padding-left:10px;
}

.label-login {
    font-size:13px;
    color:#FFF;
    font-weight:bold;
}

.label-login a {
    color:#FFF;
    padding-top:2px;
}

.label-login a:hover {
    color:#FFF;
    padding-top:2px;
}

#menu-top a {
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
	transition: all 0.4s ease-out;
    background-color: #61ab54;
    float:left;
}

#menu-top a:hover {
    background-color: #e43b42;
}

.menu-section {
    background-color: #1f5769;
}

.menu-section-active {
    background-color: #1f5769 !important;
}

.menu-section .nav > li > a:hover,.menu-section .nav > li > a:focus {
    background-color: #1f5769 !important;
}

.menu-section .dropdown-menu > li > a:hover,.menu-section .dropdown-menu > li > a:focus {
    background-color: #1f5769 !important;
}

.navbar-inverse {
    background-color: #fff;
    border-color: transparent;
}

.navbar-toggle {
    background-color: #61ab54;
    border: 1px solid #fff;
}

.navbar {
    margin-bottom: 0px;
    background-color: #FFF;
}

.main {
    width:auto;
    padding:20px;
    margin-bottom:80px;
}

.footer-info {
    background-color:#61ab54;
    position: fixed;
    height: auto;
    bottom: 41px;
    width: 100%;
    padding-top:10px;
}
.footer-info-text {
    font-size:12px;
    color:#FFF;
    margin-bottom:5px;
}

.footer {
    background-image: url(../img/footer.png);
    position: fixed;
    height: auto;
    bottom: 0;
    width: 100%;
    color:#FFF;
    text-align:center;
    padding-top:15px;
    font-size:11px;
}

.footer a {
    color:#FFF;
}

.footer a:hover {
    color:#FFF;
}

.field-validation-error .has-error {
    color: #f56954 !important;
    font-size:10px;
}

.label-login .field-validation-error .has-error {
    color: #fff !important;
}

.cellProduto {
    color:#000;
}
.cellSubtotal {
    color:#fff;
}
.totaisVazio {
    background-color:#fff !important;
}
.totais {
    background-color:#FFF !important;
    font-weight:bold;
    color:#fff;
}

input 
{
    text-transform: uppercase;
}

.classDivAceite {
    font-size:11px !important;
}
.classDivAceite ul {
    list-style:none;
    list-style-image:none;
    padding-left:15px;
    text-align:justify;
}
.classDivAceite p {
    text-align:justify;
}

.divEmpresa {
    margin-bottom:21px;
}

#divTelefoneFax {
    margin-bottom:28px;
}

#divBairroEstado {
    margin-bottom:28px;
}

#divNumeroComplemento {
    margin-bottom:28px;
}

#divCEPCidade {
    margin-bottom:28px;
}

#DataEntrega, #CodEndereco {
    cursor:pointer !important;
}

.hidden {
    display:none;
}

.editor 
{
    display: block;
    width: 100%;
    clear: both;
}

.tituloSubCategoria {
    padding-top:10px;
    margin-top:15px;
    width:100%;
    height:auto;
    background-color:#5ea123;
    text-align:center;
    vertical-align:middle;
    color:#FFF;
    font-size:16px;
    font-weight: bold;
    float:left;
}

.tituloSubCategoria span {
    font-size:12px;
}

.ajusteFooter {
  margin-bottom:30px;
}

#produtos li
{
    list-style-type: none;
}

#ItensAdicionais
{
    float:left;
}

.paddingLeft {
    padding-left:15px;
}

.paddingRight {
    padding-right:15px;
}

.alignLeft {
    text-align:left;
}

.alignRight {
    text-align:right;
}

.editorLeft
{
    display: inline;
    width: 49%;
    float: left;
}

.editorRight
{
    display: inline-block;
    width: 50%;
    float: right;
}

.body-full-size {
    width:100%;
    height:500px;
}

::-webkit-input-placeholder {
   text-transform: none;
}

:-moz-placeholder {
   text-transform: none;
}

::-moz-placeholder {
   text-transform: none;
}

:-ms-input-placeholder {  
   text-transform: none;
}

table.dataTable tbody tr.selected td {
    background-color: #b0bed9 !important;
}

.modal-dialog.large {
    width: 80%;
}

table.datatable tbody tr.selected td {
    background-color: #b0bed9 !important;
}

/* NOTICE BOARD */

.notice-board .panel {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.notice-board ul {
    padding-left: 0px;
    list-style: none;
}

.notice-board li {
    padding: 10px;
    border-bottom: 1px solid #E5E5E5;
}

    .notice-board li span {
        margin-right: 10px;
        border: 1px solid #DBDBDB;
        padding: 5px;
    }

    .notice-board li a, li a:hover {
        text-decoration: none;
        color: #000;
    }

/* iCheck plugin Minimal skin, black
        ----------------------------------- */
.check {
  font-weight: 400;
  line-height: 20px;
  margin: 5px 0px;
  cursor: pointer;
}
.check .icheckbox_minimal-grey,
.check .iradio_minimal-grey {
  margin-right: 5px;
  margin-top: -2px;
}
.check.disabled {
  color: #AAA;
}
.icheckbox_minimal-grey,
.iradio_minimal-grey {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url("../img/icheck/grey.png") no-repeat;
  border: none;
  cursor: pointer;
}
.icheckbox_minimal-grey {
  background-position: 0 0;
}
.icheckbox_minimal-grey.hover {
  background-position: -20px 0;
}
.icheckbox_minimal-grey.checked {
  background-position: -40px 0;
}
.icheckbox_minimal-grey.disabled {
  background-position: -60px 0;
  cursor: default;
}
.icheckbox_minimal-grey.checked.disabled {
  background-position: -80px 0;
}
.iradio_minimal-grey {
  background-position: -100px 0;
}
.iradio_minimal-grey.hover {
  background-position: -120px 0;
}
.iradio_minimal-grey.checked {
  background-position: -140px 0;
}
.iradio_minimal-grey.disabled {
  background-position: -160px 0;
  cursor: default;
}
.iradio_minimal-grey.checked.disabled {
  background-position: -180px 0;
}
/* END icheckbox */

/* FORM ELEMENTS */
.radio,
.checkbox {
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  width: 100%;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: 0px;
}
input[type=radio],
input[type=checkbox] {
  margin: 2px 0px 0px;
}
.checkbox.pull-left,
.checkbox.pull-right,
.radio.pull-left,
.radio.pull-right {
  width: auto;
}
.form-control {
  height: 30px;
  font-size: 16px;
  line-height: 18px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  border: 1px solid #D5D5D5;
  background: #F9F9F9;
  height: 35px;
}
.form-control:focus {
  border-color: #C5C5C5;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #C1C1C1;
  background: #FFF;
}
.form-control[disabled],
.form-control[readonly] {
  color: #CCC;
}
.form-control[disabled]:focus,
.form-control[readonly]:focus {
  background: #EEE;
  color: #CCC;
  border-color: #D5D5D5;
}
.input-group-addon {
  border-color: #33414e;
  background-color: #33414e;
  font-size: 13px;
  padding: 0px 10px;
  line-height: 28px;
  color: #FFF;
  text-align: center;
  min-width: 36px;
}
.input-group-addon,
.input-group-btn {
  vertical-align: bottom;
}
.form-group:last-child {
  margin-bottom: 0px;
}
.form-group-separated {
  border-top: 1px dashed #D5D5D5;
}
.form-group-separated .form-group {
  border-bottom: 1px dashed #D5D5D5;
  margin-bottom: 0px;
}
.form-group-separated .form-group [class^="col-md-"] {
  border-left: 1px dashed #D5D5D5;
  padding: 12px 10px;
}
.form-group-separated .form-group [class^="col-md-"]:first-child {
  border-left: 0px;
}
.form-group-separated .form-group:last-child {
  border-bottom: 0px;
}
.form-group-separated.panel-body {
  padding: 0px;
}
.help-block {
  color: #AAB2BD;
  margin-bottom: 0px;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: -2px;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  font-size: 16px;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  font-size: 11px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 0;
}
.has-feedback label~.form-control-feedback {
  top: 20px;
}
/* FORM VALIDATION STATES */
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success .form-control-feedback {
  color: #95b75d;
}
.has-success .form-control {
  border-color: #95b75d;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning .form-control-feedback {
  color: #fea223;
}
.has-warning .form-control {
  border-color: #fea223;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error .form-control-feedback {
  color: #b64645;
}
.has-error .form-control {
  border-color: #b64645;
}
/* EOF FORM VALIDATION STATES */
.form-control.error,
.bootstrap-select.error > button {
  border-color: #b64645;
}
.dataTables_wrapper label
{
  font-size: 10px;
  color:black;
}
.center-force {
    text-align: center;
}
label {
  font-size: 12px;
}
label.error,
label.valid {
  color: #b64645;
  margin-bottom: 0px;
  margin-top: 3px;
  font-size: 11px;
  font-weight: normal;
  width: 100%;
}
.form-control.valid,
.bootstrap-select.valid > button {
  border-color: #95b75d;
}
label.valid {
  color: #95b75d;
}
.control-label.text-left {
  text-align: left;
}
/* EOF FORM ELEMENTS */
/* LABELS AND BADGES */
.label {
  font-weight: 500;
}
.badge {
  font-size: 11px;
  line-height: 20px;
  font-weight: 500;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0px 8px;
}
.label-primary,
.badge-primary {
  background-color: #33414e;
}
.label-success,
.badge-success {
  background-color: #95b75d;
}
.label-info,
.badge-info {
  background-color: #3fbae4;
}
.label-warning,
.badge-warning {
  background-color: #fea223;
}
.label-danger,
.badge-danger {
  background-color: #b64645;
}
/* EOF LABELS AND BADGES */

/* DROP DOWN */
.dropdown-menu {
  font-size: 12px;
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #E5E5E5;
  padding: 0px;
  margin: 8px 0px 0px;
}
.dropdown-menu > li > a {
  padding: 8px 15px;
  border-bottom: 1px solid #E9E9E9;
  line-height: 20px;
}
.dropdown-menu > li:last-child > a {
  border-bottom: 0px;
}
.dropdown-menu:after,
.dropdown-menu:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dropdown-menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #FFF;
  border-width: 5px;
  margin-left: -5px;
}
.dropdown-menu:before {
  border-color: rgba(229, 229, 229, 0);
  border-bottom-color: #E5E5E5;
  border-width: 6px;
  margin-left: -6px;
}
.dropup .dropdown-menu:after,
.dropup .dropdown-menu:before {
  display: none;
}
.dropdown-header {
  padding: 10px 15px;
  border-bottom: 1px solid #E5E5E5;
  color: #777;
}
.dropdown-menu .fa {
  margin-right: 5px;
}
.dropdown-menu .divider {
  background: #F5F5F5;
  margin: 0px;
  padding: 15px 0px 0px;
  border-bottom: 1px solid #E5E5E5;
}
/* EOF DROP DOWN */
/* MODAL */
.modal-content {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-width: 5px;
}
.modal-header {
  padding: 10px 10px 10px 15px;
  line-height: 30px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  background: #F5F5F5;
  border-color: #d5d5d5;
}
.modal-header .close {
  margin-top: 5px;
  margin-right: 5px;
}
.modal-title {
  line-height: 30px;
}
.modal-body {
  padding: 15px;
}
.modal-footer {
  background: #F5F5F5;
  border-color: #D5D5D5;
  padding: 10px 15px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}
/* EOF MODAL */
/* PORTLET */
.scCol {
  min-height: 30px;
}
.scPlaceholder {
  background: #fcfbf4;
  border: 1px dashed #999;
  margin-bottom: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  float: left;
  width: 100%;
}
/* EOF PORTLET */

/* message box */
.message-box {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.message-box.open {
  display: block;
}
.message-box .mb-container {
  position: absolute;
  left: 0px;
  top: 35%;
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  width: 100%;
}
.message-box .mb-container .mb-middle {
  width: 50%;
  left: 25%;
  position: relative;
  color: #FFF;
}
.message-box .mb-container .mb-middle .mb-title {
  width: 100%;
  float: left;
  padding: 10px 0px 0px;
  font-size: 31px;
  font-weight: 400;
  line-height: 36px;
}
.message-box .mb-container .mb-middle .mb-title .fa,
.message-box .mb-container .mb-middle .mb-title .glyphicon {
  font-size: 38px;
  float: left;
  margin-right: 10px;
}
.message-box .mb-container .mb-middle .mb-content {
  width: 100%;
  float: left;
  padding: 10px 0px 0px;
}
.message-box .mb-container .mb-middle .mb-content p {
  margin-bottom: 0px;
}
.message-box .mb-container .mb-middle .mb-footer {
  width: 100%;
  float: left;
  padding: 10px 0px;
}
.message-box.message-box-warning .mb-container {
  background: rgba(254, 162, 35, 0.9);
}
.message-box.message-box-danger .mb-container {
  background: rgba(182, 70, 69, 0.9);
}
.message-box.message-box-info .mb-container {
  background: rgba(63, 186, 228, 0.9);
}
.message-box.message-box-success .mb-container {
  background: rgba(149, 183, 93, 0.9);
}
/* end message box */

/* Cart */

.Cart
{
    float:right;
    border: solid 2px #61ab54;
    padding:10px;
    border-radius: 4px;
    text-align:right;
}
.CartTotal a
{
    color: red;
}
.CartTitle
{
    font-weight:bold;
}
.CartTotal
{
    margin-top:5px;
    color:red;
    font-size:13px;
}
.CartBtn 
{
    margin-top:5px;
}
.CartBtn a
{
    color: #61ab54;
}
#PopupEndereco .form-group
{
    padding:5px;
}

/* Cart */

@media print {
    footer {page-break-after: always;}
}

.textPesquisa {
    font-size:30px !important;
    height:50px;
}