@{
    ViewBag.Title = "Confirmar E-mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Endereço de e-mail confirmado com sucesso. @Html.ActionLink("Clique aqui para realizar o login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
