@{
    ViewBag.Title = "Confirmação - Esquecimento de sneha";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Link de recuperação enviado para seu endereço de e-mail.
    </p>
</div>
	
