@{
    ViewBag.Title = "Reiniciar Senha - Confirmação";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Sua senha foi reiniciada com sucesso. @Html.ActionLink("Clique aqui para efetuar o login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
